/* ----------
    RESET
------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
    GENERAL
--------------*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
    TYPOGRAPHY
-----------------*/

/*-------------
    HEADER
--------------*/

.nav-header {
    background-color: #ff6900;
    padding: 60px 0;
    color: white;
}

.nav-header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
}

.nav-header a {
    text-decoration: none;
    color: inherit;
}

.logo-header img {
    text-align: center;
    max-width: 140px;
    min-height: 35px;
}

.nav-header i {
    margin-left: 5px;
}

/*-------------
    MAIN
------------*/

/*-------------
    FOOTER
--------------*/