/* ----------
    RESET
------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
    GENERAL
--------------*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'GT America Trial', sans-serif;
}

/*----------------
    TYPOGRAPHY
-----------------*/

/*-------------
    HEADER
--------------*/

header {
    position: sticky;
    top: 0;
    z-index: 15;
}

.nav-header {
    background-color: #ff6900;
    padding: 18px 0;
    color: white;
}

.nav-header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
}

.nav-header a {
    text-decoration: none;
    color: inherit;
}

.logo-header img {
    text-align: center;
    max-width: 140px;
}

.nav-header i {
    margin-left: 5px;
}

/*-------------
    MAIN
------------*/

.row {
    display: flex;
    margin: 50px 0;
}

.card {
    max-width: calc(100% / 3);
    padding-right: 20px;
    position: relative;
}

.card img {
    max-width: 100%;
}

.like {
    background-color: white;
    font-size: 25px;
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.tag-red {
    background-color: #ff0000;
    font-size: 12px;
    padding: 5px 8px;
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white;
}

.tag-green {
    background-color: #008000;
    font-size: 12px;
    padding: 5px 8px;
    position: absolute;
    bottom: 100px;
    left: 48px;
    color: white;
}

#last-tag-green {
    position: absolute;
    bottom: 100px;
    left: 0;
}

.card p:last-child {
    color: #ff0000;
    font-weight: bolder;
}

del {
    color: black;
    font-weight: normal;
}

/*-------------
    FOOTER
--------------*/